.emoji-container {
    float: right;
  }
  .edit-button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button {
    background-color: #dc3545; 
    color: #fff; 
    border: none;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button mat-icon,
  .delete-button mat-icon {
    margin-right: 8px;
  }
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  .edit-button:hover,
  .delete-button:hover {
    background-color: #0056b3; 
  }

  
  .edit-button:focus,
  .delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
  }
  .reported {
    color: red; 
    font-weight: bold; 
  }
  
  .not-reported {
    color: green; 
    font-weight: normal; 
  }
  .search-field {
    .mat-form-field-wrapper {
      border: none; 
      background-color: transparent; 
    }
  }
  
  .search-icon {
    color: rgba(0, 0, 0, 0.54); 
    margin-right: 8px; 
  }


  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-container input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-container .search-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .search-container .search-icon i {
    color: #555;
  }
  .statistics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .statistic-box {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
  }
  
  .statistic-icon {
    font-size: 24px;
    color: #333;
  }
  
  .statistic-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .percentage-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    position: relative;
    background: conic-gradient(#ed8020 , #ed8020);
    border-radius: 50%;
  }
  
  .mask {
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  
  .fill {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    clip: rect(0px, 50px, 100px, 0px);
  }
  
  .mask.full {
    clip: rect(0px, 50px, 100px, 0px);
  }
  
  .inside-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
  }
  
  .statistic-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }








  .emoji-scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .emoji-score-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .emoji {
    font-size: 20px;
  }
  
  .score {
    font-size: 16px;
    font-weight: bold;
  }
  
  .average-score {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .emoji-container {
    display: flex;
    list-style-type: none; 
  padding: 0;
  border: none;
  }
  .dashboard-title {
    text-align: center; 
  }
  .minimized-button {
    width: fit-content;
  }
  
  
  .emoji-item {
    display: flex;
    align-items: center;
    margin-right: 200px; 
  }
  
  .emoji-item:last-child {
    margin-right: 0;
  }
  
  .emoji-item .emoji {
    font-size: 24px;
    margin-right: 5px; 
  }
  
  .emoji-item .count {
    font-size: 18px; 
  }
  