<section class="content">
    <div class="content-block">
      @for (breadscrum of breadscrums; track breadscrum) {
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      }
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Classroom</h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Classroom Name</mat-label>
                                        <input matInput formControlName="ClassroomName" required>
                                        <mat-error *ngIf="courseForm.get('ClassroomName')?.hasError('required')">Classroom name is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                      <mat-label>Teacher</mat-label>
                                      <input matInput formControlName="teacher" required>
                                      <mat-error *ngIf="courseForm.get('teacher')?.hasError('required')">Teacher ID is required</mat-error>
                                    </mat-form-field>
                                  </div> -->
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!courseForm.valid" mat-raised-button color="primary">Submit</button>
                                    <button type="button" mat-raised-button color="warn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
