.breadcrumbs-title-wrapper {
    display: flex;
    align-items: center;
}

.breadcrumbs-title {
    margin-right: 500px; /* Ajustez la marge selon votre préférence */
}

.emoji {
    font-size: 1.5em; /* Ajustez la taille de la police selon votre préférence */
}
.like-action, .love-action, .instructive-action, .solution-action, .dislike-action {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
}

.emoji-container {
    display: flex;
    list-style-type: none; /* Supprimer les puces de la liste */
    padding: 0;
    border: none;
  }
  
  .emoji-item {
    display: flex;
    align-items: center;
    margin-right: 100px; /* Espacement entre chaque paire emoji-nombre */
  }
  .emoji-item span {
    font-size: 20px; /* Taille de police du texte */
    font-family: 'VotrePolicePersonnalisee', sans-serif; /* Remplacez 'VotrePolicePersonnalisee' par le nom de votre police */
  }
  .element-with-line {
    border-bottom: 1px solid black; /* Adds a black line below the element */
  }
  
  .emoji-item button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    font-size: 150px; /* Taille de police des emojis */
    margin-right: 5px; /* Espacement entre l'emoji et le texte */
  }
  
  .emoji-item:last-child {
    margin-right: 0; /* Aucun espacement après le dernier élément */
  }
  
.breadcrumbs-header {
    display: flex;
    justify-content: space-between; /* Align items horizontally with space between */
    align-items: center;
}

.title-emoji-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow the title-emoji wrapper to grow and occupy available space */
}

.breadcrumbs-title {
    margin-right: 0px; /* Adjust spacing between title and emoji */
}

.emoji {
    font-size: 24px; /* Adjust emoji size */
}

.report-button {
    margin-left: 10px; /* Adjust spacing between title-emoji and button */
}
.meta-tags .tags {
    font-weight: bold;
    font-size: 25px; /* Taille de la police ajustée à 18px */
}

.widget.back-post .related-courses li {
    margin-bottom: 20px;
  }
  
  .widget.back-post .titles h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .widget.back-post .titles span {
    font-size: 16px;
    color: #888;
  }
  .breadcrumbs-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite {
    background-color: rgb(245, 160, 81); /* Couleur de fond pour un bouton favori */
    color: white; /* Couleur du texte */
  }
  
  .not-favorite {
    background-color: rgb(190, 42, 64); /* Couleur de fond pour un bouton non favori */
    color: white; /* Couleur du texte */
  }
.breadcrumbs-title-wrapper .btn {
    margin-left: 10px; /* Ajoutez un espace entre le titre/emoji et le bouton */
}

  .button-clicked {
    transform: scale(1.1); /* Agrandir le bouton de 10% */
  }
  .button-bold {
    font-weight: bold; /* Mettre en gras le texte du bouton */
  }